body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #6b1f1f;
    color: white;
    text-align: center;
    padding: 15px;
}

#map {
    width: 100%;
    height: calc(100vh - 90px);
}
